.config-title {
	color: #fe6f61;
	font-size: 17px;
	font-weight: 500;
	border-bottom: 1px solid #d8dee2;
	padding: 10px 0;
	margin-bottom: 10px !important;
	cursor: pointer;
}
.config-section-header {
	width: 100%;
	background: #f1f1f1;
	font-size: 14px;
	font-weight: 500;
	padding: 18px 0 15px 30px;
	border-bottom: 1px solid #d8dee2;
	stroke: #eaeaea;
	text-align: center;
}
.bc1,
.bc2,
.bc3,
.bc4,
.bc5,
.bc6 {
	width: 40px;
	height: 40px;
	border-radius: 7px;
	display: inline-block;
	margin: 2px;
}
button.accordion-button {
	color: #fe6f61;
	font-weight: bold;
}
.accordion-button:not(.collapsed) {
	color: #ff003c;
	background-color: #ffe7e7;
}
@media (min-width: 1200px) {
	.container {
		max-width: 1500px;
	}
}
